<nav class="navbar">

  <div class="logo">
    <a routerLink="/" class ="logo-link">
      FreshCart
    </a>
    
  </div>

  <ul class="nav-links">

    <li>
      <a routerLink="/">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/products">
        Products
      </a>
    </li>

    <li>
      <a routerLink="/cart">
        Cart
      </a>
    </li>

    <li>
      <a routerLink="/login">
        Login
      </a>
    </li>
        <li>
      <a routerLink="/register">
        Sign Up
      </a>
    </li>

  </ul>

</nav>